// background color variables
$bg-body: #fafafa;
$bg-white: #fff;
$bg-gray: #F8F8F8;
$bg-primary: #00A5EC;

// box shadow
$box-shadow: 0 1px 2px rgb(0 0 0 / 8%);

// text color variables
$text-gray: #8A8A8A;
$text-black-thin: #484848; 
$text-primary: #00A5EC;

// border color variables
$border-1: 1px solid #eee;
$hover-border: 1px solid #00A5EC;

// font family variable
$font-family: 'Roboto', sans-serif;
